p{
    font-weight: bold;
}

.about{
    width: 700px;
    height: 200px;
    background-color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    margin: auto;
    margin-top: 10%;
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 300ms;
    cursor: help;
}

.about:hover{
    width: 800px;
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 300ms;
}